:root {
  --bg: #f0f2f5;
  --shadow: rgba(0, 0, 0, 0.3);
  --header-height: 50px;
  --categories-width: 290px;
  --size15px: 15px;
  --size20px: 20px;

  --primary: #008ed7;
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333;
  font-size: 14px;
}

a {
  color: #008ed7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

._row {
  flex-direction: row;
}

.jc-between {
  justify-content: space-between;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.p-horizontal-5 {
  padding-left: 5px;
  padding-right: 5px;
}

input,
select {
  padding: 5px 9px;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #fff;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}
table {
  font-size: 15px;
}
table a {
  font-weight: 500;
}
th,
td {
  padding: 10px 15px;
}
th {
  color: #777;
  font-weight: 500;
}

tr {
  transition: background 0.2s ease-in;
  will-change: background;
}
tbody tr:hover {
  background: var(--bg);
}

td:first-child {
  border-radius: 8px 0 0 8px;
}

td:last-child {
  border-radius: 0 8px 8px 0;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 30px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 30px;
}
.api-description-td {
  color: #555;
}
